{
    "extends": [
        "prettier",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "airbnb"
    ],
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2020,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "react/jsx-filename-extension": [0],
      "import/no-unresolved": [0]
    }
}